<?php
include ('create-script.php');
?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
        integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</head>
<body>
    <nav>
        <a href="index.html"><img src="https://engineering.nmims.edu/images/2a4ca0eeb31e71b312f1df1b25865a8a.png" alt="NMIMS Logo"></a>
        <div class="nav-links" id="navLinks">
            <!-- menu button (for small resolution screens) -->
            <i class="fa fa-times" onclick="hidemenu()"></i>				
            <ul>
                <li><a href="about.html">ABOUT</li></a>
                <li><a href="">SCHOOLS</li></a>
                <li><a href="contact.html">CONTACT</li></a>
                <li><a href="register.html">REGISTER</li></a>
                <li><a href="login.html">USER LOGIN</a></li>
                <!-- <div class="login-dropdown-btn">
                    <li>USER LOGIN
                        <div class="dropdown-content">
                            <a href="#">Student</a>							
                            <a href="#">Admin</a>
                        </div>
                    </li> -->
                </div>
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showmenu()"></i>
    </nav>
    <div class="main-body">
        <h1>Student Registration</h1>
        <form action = "" method = "post" id="form1" ng-app = "mainApp" ng-controller = "studentController" name = "studentForm" novalidate>
            <!-- <div> -->
                <h3><u>Personal Details</u></h3>
                <label for="name" id="fname-label" class="mt-3 h5">First Name</label>
                <input name="firstName" type="text" id="fname" class="mb-2" placeholder="First name" class="form-control" ng-model="firstname" onkeyup="validate();" required><br>
                <span class="error mt-3" style="color:red" ng-show="studentForm.firstName.$dirty && studentForm.firstName.$invalid">
                    <span ng-show="studentForm.firstName.$error.required">First Name is required</span>
				</span>
                <span style="color: red; display: none;" id="errfname">Enter a valid first name</span>
                <!-- <p style="color: red;" id="errFirst" onkeyup="validate()" class="mb-0">Error</p> -->
                <br>
                <label for="name" id="lname-label" class="h5">Last Name</label>
                <input name="lastName" type="text" id="lname" placeholder="Last name" class="form-control" ng-model="lastname" onkeyup="validate();" required>
                <span class="error" style="color:red" ng-show="studentForm.lastName.$dirty && studentForm.lastName.$invalid">
                    <span ng-show="studentForm.lastName.$error.required">Last Name is required</span>
				</span>
                <span style="color: red; display: none;" id="errlname">Enter a valid last name</span>
                <br>
                <label for="sapid" id="sapid-label" class="h5">SAP Id</label>
                <input name="SapID" type="text" id="sapid" name="sapid" placeholder=" " maxlength="11" class="form-control" ng-model="sapid" onchange="validate();" required>
                <span class="error" style="color:red" ng-show="studentForm.SapID.$dirty && studentForm.SapID.$invalid">
                    <span ng-show="studentForm.SapID.$error.required">SAP Id is required</span>
				</span>
                <span style="color: red; display: none;" id="errSap">Enter a valid 11 Digit SAP ID</span>
                <br>
                <label for="email" id="email-label" class="h5">Personal Email ID</label>
                <input name="PerEmail" type="email" id="email" placeholder="abc@xyz.com" class="form-control border" ng-model="email" length="100" required>
                <!-- <span class="input-group-text">@nmims.edu.in</span> -->
                <span style="color:red" ng-show="studentForm.PerEmail.$dirty && studentForm.PerEmail.$invalid">
                    <span ng-show="studentForm.PerEmail.$error.required">Personal Email is required</span>
                    <span ng-show="studentForm.PerEmail.$error.email">Invalid email address</span>
                </span>

                <br>
                <label for="email" id="email-label" class="h5">NMIMS Email ID</label>
                <input name="ClgEmail" type="email" id="email" placeholder="abc.xyz789@nmims.edu.in"
                    class="form-control border" ng-model="email" length="100" onkeyup="validate()" required>
                <!-- <span class="input-group-text">@nmims.edu.in</span> -->
                <span style="color:red" ng-show="studentForm.ClgEmail.$dirty && studentForm.ClgEmail.$invalid">
                    <span ng-show="studentForm.ClgEmail.$error.required">NMIMS Email is required</span>
                </span>
                <span style="color: red; display: none;" id="errEmail">Enter a valid NMIMS email ID</span>
                
                <br>
                <label for="phone" id="phone-label" class="h5">Phone</label>
                <div class="input-group mt-2 ">
                    <span class="input-group-text"> +91 </span>
                    <input name="Phone" type="tel" id="phone" class="form-control border" maxlength="10" ng-model="phone" onchange="validate()" required>         
                </div>
                <span class="error" style="color:red" ng-show="studentForm.Phone.$dirty && studentForm.Phone.$invalid">
                    <span ng-show="studentForm.Phone.$error.required">Phone No. is required</span>
                </span>
                <span style="color: red; display: none;" id="errPh">Enter a valid 10 Digit Mobile No.</span>
                
                <br>
                <label for="linkedin-url" id="linkedin-url" class="h5" placeholder>LinkedIn URL</label><br>
                <div class="input-group mt-2">
                    <span class="input-group-text">https://</span>
                    <input name="linkedin" type="url" id="linkedin-url" name="linkedin-url" class="form-control border">
                </div>
                
                <br>
                <label for="github-url" id="github-url" class="h5">GitHub URL</label><br>
                <div class="input-group mt-2">
                    <span class="input-group-text">https://</span>
                    <input name = "github" type="url" id="github-url" name="github-url" class="form-control border">
                </div>
                
                <br>
                <label for="dob" id="dob-label" class="h5">Date of Birth</label>
                <input name="DOB" type="date" id="DOB" name="DOB" class="form-control" required>
                <br>
                <label id="gender-label" class="h5">Gender</label><br>
                <div class="form-check form-check-inline mt-2">
                    <input type="radio" id="male" name="gender" value="male">
                    <label for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="radio" id="gender" name="gender" value="female">
                    <label for="female">Female</label>
                </div>
                
                <br>
                <p style="color: red; margin-left: 0;" class="mt-3">All fields are mandatory</p>
                
                <div class="btn-box">
                    <button type="button" name="create" id="next1" class="rounded-pill" ng-click="submit()" value="Next">Next</button>
                </div>
                <!-- ng-disabled = "studentForm.firstName.$dirty && studentForm.firstName.$invalid ||
                studentForm.lastName.$dirty && studentForm.lastName.$invalid || studentForm.SapID.$dirty && studentForm.SapID.$invalid
                || studentForm.email.$dirty && studentForm.email.$invalid || studentForm.Phone.$dirty && studentForm.Phone.$invalid" -->
            <!-- </div> -->
        </form>
        <script>
            function submitForm(){
                //get form data
                var formData = new FormData(document.getElementById("form1"));
                
                //send form data via AJAX
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "connect.php");
                xhr.send(formData);
               
             }
             </script>
            

        <form  id="form2">
            <div>
                <!-- qualification details -->
                <h3 class="text-center mb-3">Graduation Details</h3>
                <label for="university" id="univ-label" class="h5">University</label>
                <input type="text" id="university" class="form-control" value="NMIMS" required disabled>
                <br>
                <label for="college" id="college-label" class="h5">College</label>
                <input type="text" id="college" class="form-control" required>
                <br>
                <label for="year" id="year-label" class="h5">Graduation Year</label>
                <select id="year" required>
                    <option>Select</option>
                    <option id="2023">2023</option>
                    <option id="2024">2024</option>
                    <option id="2025">2025</option>
                    <option id="2026">2026</option>
                    <option id="2027">2027</option>
                    <option id="2028">2028</option>
                </select>
                <br><br>
                <label for="degree" id="degree-label" class="h5">Degree</label>
                <select id="degree" required>
                    <option>Select</option>
                    <option id="B.Tech">BTech</option>
                    <option id="MBA.Tech">MBTech</option>
                    <option id="MBA">MBA</option>
                    <option id="BBA">BBA</option>
                    <option id="B.Com">B.Com</option>
                    <option id="B.Sc (Finance)">B.Sc(Finance)</option>
                    <option id="B.Sc (Economics)">B.Sc(Economics)</option>
                    <option id="B.A.,LL.B.(Hons.)/B.B.A.,LL.B.(Hons.)">B.A.,LL.B.(Hons.)/B.B.A.,LL.B.(Hons.)</option>
                    <option id="B.Sc.Applied Psychology">B.Sc.Applied Psychology</option>
                </select>
                <br><br>
                <label for="specialization" id="specialization-label" class="h5">Specialization</label>
                <select id="specialization" required>
                    <option>Select</option>
                    <option id="CSBS">CSBS</option>
                    <option id="CE">CE</option>
                    <option id="AI/DS">AI/DS</option>
                    <option id="Marketing">Marketing</option>
                    <option id="Finance">Finance</option>
                </select>
                <br><br>
                <label for="cgpa" id="cgpa-label" class="h5">CGPA</label>
                <input type="number" min="0" max="4" step="2" required>
                <br><br>
                <hr class="border-5">
                <h4 class="text-center"><b>HSC/XII</b></h4>
                <hr class="border-5">
                <br>
                <label for="HSC" id="HSC" class="h5">HSC Board</label>
                <select id="HSCBoard">
                    <option>Select</option>
                    <option value="CBSE">CBSE</option>
                    <option value="ICSE">ICSE</option>
                    <option value="Maharashtra State Board">Maharashtra State Board</option>
                    <option value="other">Other</option>
                </select>
                <br><br>
                <label for="hsc-cgpa" class="h5">HSC %/CGPA</label>
                <input type="number" min="0" max="100" step="2" required>
                <br><br>
                <label for="hsc-pass-year" class="h5">Passing Year</label>
                <select id="hsc-pass-year" required>
                    <option>Select</option>
                    <option id="2018">2018</option>
                    <option id="2019">2019</option>
                    <option id="2020">2020</option>
                    <option id="2021">2021</option>
                    <option id="2022">2022</option>
                </select>
                <br><br>
                <hr class="border-5">
                <h4 class="text-center"><b>Diploma</b></h4>
                <hr class="border-5">
                <br>
                <label for="diploma" id="diploma" class="h5">University Board</label>
                <input type="text" required>
                <br><br>
                <label for="dip-cgpa" class="h5">Diploma %/CGPA</label>
                <input type="number" min="0" max="100" step="2" required>
                <br><br>
                <label for="dip-pass-year" class="h5">Passing Year</label>
                <select id="dip-pass-year" required>
                    <option>Select</option>
                    <option id="2018">2018</option>
                    <option id="2019">2019</option>
                    <option id="2020">2020</option>
                    <option id="2021">2021</option>
                    <option id="2022">2022</option>
                </select>
                <br><br>
                <hr class="border-5">
                <h4 class="text-center"><b>SSC/X</b></h4>
                <hr class="border-5">
                <br>
                <label for="SSC" id="SSC" class="h5">SSC Board</label>
                <select id="SSCBoard">
                    <option>Select</option>
                    <option value="CBSE">CBSE</option>
                    <option value="ICSE">ICSE</option>
                    <option value="Maharashtra State Board">Maharashtra State Board</option>
                    <option value="other">Other</option>
                </select>
                <br><br>
                <label for="ssc-cgpa" class="h5">SSC %/CGPA</label>
                <input type="number" min="0" max="100" step="2" required>
                <br><br>
                <label for="dip-pass-year" class="h5">Passing Year</label>
                <select id="dip-pass-year" required>
                    <option>Select</option>
                    <option id="2018">2018</option>
                    <option id="2019">2019</option>
                    <option id="2020">2020</option>
                    <option id="2021">2021</option>
                    <option id="2022">2022</option>
                </select>
                <br><br>
                <p style="color: red; margin-left: 0;">All fields are mandatory</p>
                <br>
                <!-- <input type="submit" id="submit"> -->
                <div class="btn-box">
                    <button type="button" id="back1" class="rounded-pill" value="Back">Back</button>
                    <button type="button" id="next2" class="rounded-pill ms-2" value="Next">Next</button>
                </div>
            </div>
            
        </form>
        <form id="form3">
            <div>
                <!-- Certification & internship details -->
                <hr class="border-5">
                <h3>Certifications/Internship Details</h3>
                <hr class="border-5">
                <label for="certificate" id="certi-label">Certificate 1 Description</label>
                <input type="text" id="certificate" required>
                <input type="file" id="certi-file"><br><br>
                <h4>Duration</h4>
                From: <input type="month" id="certi-duration">
                To: <input type="month" id="certi-duration">
                <br><br><br>
                <label for="Certificate" id="certi-label">Certificate 1 Description</label>
                <input type="text" id="certificate" required>
                <input type="file" id="certi-file"><br><br>
                <h4>Duration</h4>
                From: <input type="month" id="certi-duration">
                To: <input type="month" id="certi-duration">
                <br><br><br>
                <label for="project" id="proj-label">Project 1 Description</label>
                <input type="text" id="university" required>
                <input type="file" id="proj-file"><br><br>
                <h4>Duration</h4>
                From: <input type="month" id="proj-duration">
                To: <input type="month" id="proj-duration">
                <br><br><br>
                <label for="project" id="proj-label">Project 2 Description</label>
                <input type="text" id="college" required>
                <input type="file" id="proj-file">
                <br><br>
                <h4>Duration</h4>
                From: <input type="month" id="proj-duration">
                To: <input type="month" id="proj-duration">
                <br><br>
                <p style="color: red; margin-left: 0;">All fields are mandatory</p>
                <br>
                <!-- <input type="submit" id="submit"> -->
                <div class="btn-box">
                    <button type="button" id="back2" class="rounded-pill">Back</button>
                    <button type="button" id="submit" class="rounded-pill ms-2">Submit</button>
                </div>
            </div>  
        </form>
    </div>
    <footer>
		<div class="footer-container">
			<a href="index.html"><img src="https://engineering.nmims.edu/images/2a4ca0eeb31e71b312f1df1b25865a8a.png" alt="NMIMS Logo"></a>
			<div class="footer2">
				<h4>Campuses</h4>
				<ul>
					<li><a href="">Mumbai</a></li>
					<li><a href="">Bengaluru</a></li>
					<li><a href="">Shirpur</a></li>
					<li><a href="">Hyderabad</a></li>
					<li><a href="">Indore</a></li>
					<li><a href="">Navi Mumbai</a></li>
					<li><a href="">Dhule</a></li>
				</ul>
			</div>

			<div class="footer3">
				<h4>Administration</h4>
				<ul>
					<li><a href="">Chancellor</a></li>
					<li><a href="">Vice Chancellor</a></li>
					<li><a href="">Faculty & Staff</a></li>
				</ul>
			</div>
			<div class="footer4">
				<h4>Socials</h4>
				<div class="socials">
					<li><a href=""><i class="fa fa-brands fa-facebook"></i></a></li>
					<li><a href=""><i class="fa fa-brands fa-twitter"></i></a></li>
					<li><a href=""></a><i class="fa fa-brands fa-youtube"></i></li>
				</div>
			</div>

			
		</div>

		<div class="copyright">
			<small>&copy; Copyright 2022. Shri Vile Parle Kelavani Mandal (SVKM) All Rights Reserved.</small>
		</div>
	</footer>
    <script src="register.js"></script>
</body>
</html>